* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #434750;
  overflow: hidden;
}

.loader {
  position: relative;
  transform: skewY(-15deg) translateX(50px) translateY(50px);
  animation: animateColor 2.5s linear infinite;
}

@keyframes animateColor{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.loader::before{
    content:'';
    position: absolute;
    top: 300px;
    width: 300px;
    height: 200px;
    background: rgba(0,0,0,0.1);
    transform-origin: bottom;
    transform: skewX(45deg);
    filter: blur(20px);
}

.loader span {
  position: relative;
  width: 200px;
  height: 40px;
  display: block;
  background: #3e3f46;
  transition: 0.5s;
  z-index: var(--i);
  animation: animate 5s ease-in-out infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
  0%,100% {
    transform: translateX(-70px);
  }
  50% {
    transform: translateX(70px);
  }
}

.loader span:hover {
  background: #33a4ee;
  transition: 0s;
}

.loader span:before{
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: #2e3133;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

.loader span:hover:before{
    background: #1f5378;
    transition: 0s;
}

.loader span:after{
    content: '';
    position: absolute;
    top: -150px;
    left: 0;
    height: 150px;
    width: 100%;
    background: #f00;
    transform-origin:bottom;
    transform: skewX(45deg);
    background: #35383e;
    transition: 0.5s;
}

.loader span:hover:after{
    background: #2982b9;
    transition: 0s;
}