@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "Poppins", sans-serif;
}

body {
  background: url(assets/bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 500px;
  height: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.2);
  background: rgba(255, 255, 255, 0.2);
}

.card:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #00ff7f;
}

.card .content {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -80px;
  gap: 20px;
}

.card .content .imgBx {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}

.card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
.card .content .details div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card .content .details h3 {
  font-weight: 600;
}

.card .content .details ion-icon {
  font-size: 1.4em;
  color: #fff;
}
